﻿@model DabesiaWebApp.Models.LoginUser
@using System.Web;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<div class="form-group">
    <form method="post" asp-action="Login" asp-controller="Accounts">
        <table class="table">
            <tr>
                <td width="180">
                    <label asp-for="UserName"></label>
                </td>
                <td width="180">
                    <input asp-for="UserName" />
                </td>
                <td width="300">
                <span asp-validation-for="UserName" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="Password"></label>
                </td>
                <td>
                    <input asp-for="Password" />
                </td>
                <td>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" name="name" value="Login" />
                </td>
                <td>
                    <label class="text-danger">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                </td>
            </tr>
        </table>
    </form>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"
        integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg="
        crossorigin="anonymous"></script>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>

