﻿
@{
    Layout = null;
    ViewData["Title"] = "Nicht Autorisiert!";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nicht Autorisiert</title>
</head>
<body>
    <h2 style="color:red">Sie sind nicht autorisiert den Inhalt dieser Seite zu sehen. Bitte zurerst Einloggen!</h2>
</body>
</html>
