﻿@model DabesiaWebApp.Models.PurchaseOrder

@{
    ViewData["Title"] = "Erstellen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Erstellen</h2>

<h4>Bestellung</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input type="text" asp-for="OrderDate" value="@(ViewBag.Today)" autocomplete="off" class="form-control datepicker" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderState" class="control-label"></label>
                <select asp-for="OrderState" class="form-control" asp-items="Html.GetEnumSelectList<OrderState>()"></select>
                <span asp-validation-for="OrderState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <select asp-for="CustomerID" value="@(ViewBag.Customer)" class="form-control" asp-items="ViewBag.CustomerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductID" class="control-label"></label>
                <select asp-for="ProductID" class="form-control" asp-items="ViewBag.ProductID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Erstellen" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<form>
    <button asp-action="Index" class="btn btn-default">Zurück zur Bestelliste</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
