﻿@model DabesiaWebApp.Models.PurchaseOrder

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .blank-row {
        height: 10px !important;
    }

    .blank-column {
        width: 200px !important;
    }

    .bold-td {
        font-weight: bold !important;
    }

    td {
        padding: 5px 0px 5px 0px !important;
    }

    table {
        border-collapse: collapse;
    }
</style>


<h2>Details</h2>

<div>
    <h4>Bestellung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
    </dl>
    <p />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.FirstName) @Html.DisplayFor(model => model.Customer.LastName)
        </dd>
    </dl>
    <p />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
    </dl>
    <p />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>
    </dl>
    <p />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UsageDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UsageDate)
        </dd>
    </dl>
    <p />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VoucherCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VoucherCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
    </dl>
</div>

<hr />

<div>
    <form asp-action="ExtendExpiryDate" asp-route-id="@Model.OrderID" mehtod="post">
        <button type="submit" class="btn btn-default">Gutschein um 1 Jahr verlängern</button>
    </form>
</div>
<p />
<div>
    <form asp-controller="File" asp-action="DownloadInvoice" asp-route-id="@Model.OrderID" method="post" enctype="multipart/form-data">
        <button type="submit" class="btn btn-default">Rechnung erstellen</button>
    </form>
</div>
<p />
<div>
    <form asp-controller="File" asp-action="DownloadVoucher" asp-route-id="@Model.OrderID" method="post" enctype="multipart/form-data">
        <button type="submit" class="btn btn-default">Gutschein erstellen</button>
    </form>
</div>
<p />
<div>
    <form>
        <button asp-action="Edit" asp-route-id="@Model.OrderID" class="btn btn-default">Bearbeiten</button>
    </form>
</div>
<hr />
<div>
    <form>
        <button asp-action="Index" asp-route-id="@Model.OrderID" class="btn btn-default">Zurück zu den Bestellungen</button>
    </form>
</div>
