﻿@model IEnumerable<DabesiaWebApp.Models.PurchaseOrder>

@{
    ViewData["Title"] = "Bestellungen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bestellungen</h2>

<form>
    <button asp-action="Create" class="btn btn-default">Neue Bestellung anlegen</button>
</form>

<form method="post">
    <h3>Suche</h3>
    <table class="table">
        <tr>
            <td width="300">
                <input type="text" placeholder="Nach Kunde oder BestellNr" value="@(ViewBag.SearchString ?? String.Empty)" name="searchString" class="form-control" />
            </td>
            <td width="200">
                <select name="orderState" class="form-control">
                    <option value="" disabled selected>Nach Status</option>
                    <option value="Alle">Alle</option>
                    <option value="Offen">Offen</option>
                    <option value="Bezaht">Bezahlt</option>
                    <option value="Abgeschlossen">Abgeschlossen</option>
                    <option value="Abgelaufen">Abgelaufen</option>
                </select>
            </td>
            <td width="200">
                <div class="form-group">
                    <input type="text" placeholder="Bestellzeitraum von ..." name="startDate" value="@(ViewBag.StartDate)" autocomplete="off" class="form-control datepicker" />
                    <span class="text-danger"></span>
                </div>
            </td>
            <td width="200">
                <div class="form-group">
                    <input type="text" placeholder="bis ..." name="endDate" value="@(ViewBag.EndDate)" autocomplete="off" class="form-control datepicker" />
                    <span class="text-danger"></span>
                </div>
            </td>
            <td>
                <input type="submit" value="Suchen" class="btn btn-default" />
            </td>
        </tr>
    </table>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.OrderSortParm">BestellNr</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.DateSortParm">Bestelldatum</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.CustomerSortParm">Kunde</a>
            </th>
            <th>
                Produktbezeichnung
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.StateSortParm">Status</a>
            </th>
            <th>
                Bezahlt am
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.LastName), @Html.DisplayFor(modelItem => item.Customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    <form>
                        <button asp-action="Edit" asp-route-id="@item.OrderID" class="btn btn-default">Bearbeiten</button>
                        <button asp-action="Details" asp-route-id="@item.OrderID" class="btn btn-default">Details</button>
                        <button asp-action="Delete" asp-route-id="@item.OrderID" class="btn btn-danger">Löschen</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
