﻿@model DabesiaWebApp.Models.Customer

@{
    ViewData["Title"] = "Bestellungen von " + @Html.DisplayFor(m => Model.FirstName) + " " + @Html.DisplayFor(m => Model.LastName);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bestellungen von @Html.DisplayFor(m => Model.FirstName) @Html.DisplayFor(m => Model.LastName)</h2>

<form>
    <button asp-controller="Orders" asp-action="Create" asp-route-id="@Model.CustomerID" class="btn btn-default">Neue Bestellung erstellen</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th width="80">
                Datum der Bestellung
            </th>
            <th width="80">
                Status
            </th>
            <th width="80">
                Datum der Bezahlung
            </th>
            <th width="80">
                Datum der Verwendung
            </th>
            <th width="80">
                Preisnachlass
            </th>
            <th width="230">
                Produkt
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PurchaseOrders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsageDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Description)
                </td>
                <td>
                    <form>
                        <button asp-controller="Orders" asp-action="Edit" asp-route-id="@item.OrderID" class="btn btn-default">Bearbeiten</button>
                        <button asp-controller="Orders" asp-action="Details" asp-route-id="@item.OrderID" class="btn btn-default">Details</button>
                        <button asp-controller="Orders" asp-action="Delete" asp-route-id="@item.OrderID" class="btn btn-danger">Löschen</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
