﻿@model DabesiaWebApp.Models.Customer

@{
    ViewData["Title"] = "Löschen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Löschen</h2>
<h4>Kunde</h4>

<h3>Sind Sie sicher, dass Sie dies tun möchten?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<hr />
<form asp-action="Delete">
    <input type="hidden" asp-for="CustomerID" />
    <input type="submit" value="Löschen" class="btn btn-danger" />
    <button asp-action="Index" class="btn btn-default">Zurück zur Kundenliste</button>
</form>
