﻿@model IEnumerable<DabesiaWebApp.Models.Customer>

@{
    ViewData["Title"] = "Kunden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kunden</h2>

<form>
    <button asp-action="Create" class="btn btn-default">Neuen Kunden anlegen</button>
</form>

<h3>Suche</h3>

<form method="post">
    <table class="table">
        <tr>
            <td width="300">
                <input type="text" placeholder="Nach KundenNr, Vor- oder Nachname" value="@(ViewBag.SearchString ?? String.Empty)" name="searchString" class="form-control" />
            </td>
            <td>
                <input type="submit" value="Suchen" class="btn btn-default" />
            </td>
        </tr>
    </table>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.CustomerSortParm">KundenNr</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.FirstNameSortParm">Vorname</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.LastNameSortParm">Nachname</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <form>
                        <button asp-action="Edit" asp-route-id="@item.CustomerID" class="btn btn-default">Bearbeiten</button>
                        <button asp-action="Details" asp-route-id="@item.CustomerID" class="btn btn-default">Details</button>
                        <button asp-action="Delete" asp-route-id="@item.CustomerID" class="btn btn-danger">Löschen</button>
                    </form>
                </td>
                <td>
                    <form>
                        <button asp-action="CustomerOrders" asp-route-id="@item.CustomerID" class="btn btn-default">Bestellungen</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

