﻿@model DabesiaWebApp.Models.Product

@{
    ViewData["Title"] = "Löschen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Löschen</h2>
<h4>Produkt</h4>

<h3>Sind Sie sicher, dass Sie dies tun möchten?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Commentary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Commentary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductID" />
        <input type="submit" value="Löschen" class="btn btn-danger" />
        <button asp-action="Index" class="btn btn-default">Zurück zur Produktliste</button>
    </form>
</div>
