﻿@model IEnumerable<DabesiaWebApp.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Produkte</h2>

<form>
    <button asp-action="Create" class="btn btn-default">Neues Produkt anlegen</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commentary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Commentary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <form>
                        <button asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-default">Bearbeiten</button>
                        <button asp-action="Details" asp-route-id="@item.ProductID" class="btn btn-default">Details</button>
                        <button asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-danger">Löschen</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
