﻿@{
    ViewData["Title"] = "Startseite";
    var currentUser = ViewData["currentUser"];
    var currentClaim = ViewData["currentClaim"];
}
<h2>Startseite</h2>

<div>
    <form>
        <p>
            <button asp-controller="Customers" asp-action="Index" class="btn btn-default"><b>Kunden</b></button>
        </p>
        <p>
            <button asp-controller="Orders" asp-action="Index" class="btn btn-default"><b>Bestellungen</b></button>
        </p>
        <p>
            <button asp-controller="Products" asp-action="Index" class="btn btn-default"><b>Produkte</b></button>
        </p>
    </form>
</div>
